.create-game__container {
  width: 100%;
  height: 100vh;

  font-family: Montserrat, sans-serif;
  text-align: center;
  color: white;

  background-color: #5F428B;

  .create-game__title {
    font-size: 84px;
    font-weight: bolder;
  }

  .create-game__form-field {

  }
}